body {
    font-family: 'Fira Code', monospace;
    background-color: #121212;
    color: #e0e0e0;
    margin: 40px;
}
body.light-mode {
    background-color: #e0e0e0;
    color: #121212;
}
.center {
  max-width: 800px;  /* Adjust this value to your preferred width */
  margin: 0 auto;
  padding: 20px;
}
a {
    color: #f71900;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    margin: 20px 0;
}
.title {
    font-size: 24px;
    margin-bottom: 10px;
}
.sub {
    font-size: 20px;
    margin-bottom: 20px;
    color: #bbb;
}
.alt {
    font-size: 14px;
    color: #888;
    text-align: left;
}
.heading {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#theme-toggle {
    background: none;
    border: none;
    color: #f71900;
    font-family: 'Fira Code', monospace;
    cursor: pointer;
    padding: 0;
}
#theme-toggle:hover {
    text-decoration: underline;
}
.text-bite-title {
    font-weight: bold;
    font-size: 18px;
}
.text-bite-date {
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;
}
.text-bite-content {
    margin-bottom: 20px;
}
img {
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
}
.social-share {
    margin-bottom: 10px;
    font-size: 17px;
}
.social-share a {
    margin-right: 10px;
    font-size: 17px;
}
.social-share a:hover {
    color: #bbb;
}
iframe {
    border-radius: 12px;
    border: none;
    aspect-ratio: 16/9;
    min-height: 250px;
    max-width: 800px;
}