body {
    font-family: 'Fira Code', monospace;
    background-color: #ffffff;
    color: #000000;
    margin: 40px;
}
a {
    color: #f71900;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    margin: 20px 0;
}
.title {
    font-size: 24px;
    margin-bottom: 10px;
}
.heading {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

