body {
    font-family: 'Fira Code', monospace;
    background-color: #121212;
    color: #e0e0e0;
    margin: 40px;
}
body.light-mode {
    background-color: #e0e0e0;
    color: #121212;
}
a {
    color: #f71900;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    margin: 20px 0;
}
.title {
    font-size: 24px;
    margin-bottom: 10px;
}
.heading {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#theme-toggle {
    background: none;
    border: none;
    color: #f71900;
    font-family: 'Fira Code', monospace;
    cursor: pointer;
    padding: 0;
}
#theme-toggle:hover {
    text-decoration: underline;
}
img{
    max-width: 100%;
    height: auto;
}
.text-bite-title {
    font-weight: bold;
    font-size: 18px;
}
.text-bite-date {
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;
}
.text-bite-content {
    margin-bottom: 20px;
}
.no-results {
    text-align: center;
    color: #888;
    font-size: 16px;
    margin-top: 2rem;
}
.search-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
@media (min-width: 640px) {
    .search-container {
        flex-direction: row;
    }
}
.search-input {
    background-color: #333;
    color: #e0e0e0;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid #555;
    outline: none;
    width: 100%;
}
.search-input:focus {
    border-color: #f71900;
}
body.light-mode .search-input {
    background-color: #ccc;
    color: #121212;
    border-color: #aaa;
}
body.light-mode .search-input:focus {
    border-color: #f71900;
}